#student-table {
    max-height: 400px;
    overflow: scroll;
}

th, tr {
    width: 33%;
}

.present {
    color: gray;
    font-style: italic;
    background-color: rgb(212, 205, 209) ;
}

.absent {
    color: black;
    font-weight: bold;
    background-color: lightcyan;
}

[v-cloak] {
    display: none;
}


